FTJL/Web References/JygtService/FoundationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetServiceRunStatus">
        <s:complexType />
      </s:element>
      <s:element name="GetServiceRunStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceRunStatusResult" type="tns:ResponseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RequestStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetServiceTime">
        <s:complexType />
      </s:element>
      <s:element name="GetServiceTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceTimeResult" type="tns:ResponseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceIPAddress">
        <s:complexType />
      </s:element>
      <s:element name="GetServiceIPAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceIPAddressResult" type="tns:ResponseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getsqlcom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SQLstr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getsqlcomResponse">
        <s:complexType />
      </s:element>
      <s:element name="getrd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SQLstr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getrdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getrdResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ResponseResult" nillable="true" type="tns:ResponseResult" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetServiceRunStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceRunStatus" />
  </wsdl:message>
  <wsdl:message name="GetServiceRunStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceRunStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceTime" />
  </wsdl:message>
  <wsdl:message name="GetServiceTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceTimeResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceIPAddressSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceIPAddress" />
  </wsdl:message>
  <wsdl:message name="GetServiceIPAddressSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceIPAddressResponse" />
  </wsdl:message>
  <wsdl:message name="getsqlcomSoapIn">
    <wsdl:part name="parameters" element="tns:getsqlcom" />
  </wsdl:message>
  <wsdl:message name="getsqlcomSoapOut">
    <wsdl:part name="parameters" element="tns:getsqlcomResponse" />
  </wsdl:message>
  <wsdl:message name="getrdSoapIn">
    <wsdl:part name="parameters" element="tns:getrd" />
  </wsdl:message>
  <wsdl:message name="getrdSoapOut">
    <wsdl:part name="parameters" element="tns:getrdResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceRunStatusHttpGetIn" />
  <wsdl:message name="GetServiceRunStatusHttpGetOut">
    <wsdl:part name="Body" element="tns:ResponseResult" />
  </wsdl:message>
  <wsdl:message name="GetServiceTimeHttpGetIn" />
  <wsdl:message name="GetServiceTimeHttpGetOut">
    <wsdl:part name="Body" element="tns:ResponseResult" />
  </wsdl:message>
  <wsdl:message name="GetServiceIPAddressHttpGetIn" />
  <wsdl:message name="GetServiceIPAddressHttpGetOut">
    <wsdl:part name="Body" element="tns:ResponseResult" />
  </wsdl:message>
  <wsdl:message name="getsqlcomHttpGetIn">
    <wsdl:part name="SQLstr" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getsqlcomHttpGetOut" />
  <wsdl:message name="getrdHttpGetIn">
    <wsdl:part name="SQLstr" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getrdHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetServiceRunStatusHttpPostIn" />
  <wsdl:message name="GetServiceRunStatusHttpPostOut">
    <wsdl:part name="Body" element="tns:ResponseResult" />
  </wsdl:message>
  <wsdl:message name="GetServiceTimeHttpPostIn" />
  <wsdl:message name="GetServiceTimeHttpPostOut">
    <wsdl:part name="Body" element="tns:ResponseResult" />
  </wsdl:message>
  <wsdl:message name="GetServiceIPAddressHttpPostIn" />
  <wsdl:message name="GetServiceIPAddressHttpPostOut">
    <wsdl:part name="Body" element="tns:ResponseResult" />
  </wsdl:message>
  <wsdl:message name="getsqlcomHttpPostIn">
    <wsdl:part name="SQLstr" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getsqlcomHttpPostOut" />
  <wsdl:message name="getrdHttpPostIn">
    <wsdl:part name="SQLstr" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getrdHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:portType name="FoundationServiceSoap">
    <wsdl:operation name="GetServiceRunStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取WebService服务器运行状态</wsdl:documentation>
      <wsdl:input message="tns:GetServiceRunStatusSoapIn" />
      <wsdl:output message="tns:GetServiceRunStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceTime">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取服务器当前时间</wsdl:documentation>
      <wsdl:input message="tns:GetServiceTimeSoapIn" />
      <wsdl:output message="tns:GetServiceTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceIPAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取Web服务IP地址</wsdl:documentation>
      <wsdl:input message="tns:GetServiceIPAddressSoapIn" />
      <wsdl:output message="tns:GetServiceIPAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getsqlcom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加数据</wsdl:documentation>
      <wsdl:input message="tns:getsqlcomSoapIn" />
      <wsdl:output message="tns:getsqlcomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getrd">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">读取数据</wsdl:documentation>
      <wsdl:input message="tns:getrdSoapIn" />
      <wsdl:output message="tns:getrdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FoundationServiceHttpGet">
    <wsdl:operation name="GetServiceRunStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取WebService服务器运行状态</wsdl:documentation>
      <wsdl:input message="tns:GetServiceRunStatusHttpGetIn" />
      <wsdl:output message="tns:GetServiceRunStatusHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceTime">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取服务器当前时间</wsdl:documentation>
      <wsdl:input message="tns:GetServiceTimeHttpGetIn" />
      <wsdl:output message="tns:GetServiceTimeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceIPAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取Web服务IP地址</wsdl:documentation>
      <wsdl:input message="tns:GetServiceIPAddressHttpGetIn" />
      <wsdl:output message="tns:GetServiceIPAddressHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getsqlcom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加数据</wsdl:documentation>
      <wsdl:input message="tns:getsqlcomHttpGetIn" />
      <wsdl:output message="tns:getsqlcomHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getrd">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">读取数据</wsdl:documentation>
      <wsdl:input message="tns:getrdHttpGetIn" />
      <wsdl:output message="tns:getrdHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FoundationServiceHttpPost">
    <wsdl:operation name="GetServiceRunStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取WebService服务器运行状态</wsdl:documentation>
      <wsdl:input message="tns:GetServiceRunStatusHttpPostIn" />
      <wsdl:output message="tns:GetServiceRunStatusHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceTime">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取服务器当前时间</wsdl:documentation>
      <wsdl:input message="tns:GetServiceTimeHttpPostIn" />
      <wsdl:output message="tns:GetServiceTimeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceIPAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取Web服务IP地址</wsdl:documentation>
      <wsdl:input message="tns:GetServiceIPAddressHttpPostIn" />
      <wsdl:output message="tns:GetServiceIPAddressHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getsqlcom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加数据</wsdl:documentation>
      <wsdl:input message="tns:getsqlcomHttpPostIn" />
      <wsdl:output message="tns:getsqlcomHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getrd">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">读取数据</wsdl:documentation>
      <wsdl:input message="tns:getrdHttpPostIn" />
      <wsdl:output message="tns:getrdHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FoundationServiceSoap" type="tns:FoundationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceRunStatus">
      <soap:operation soapAction="http://tempuri.org/GetServiceRunStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceTime">
      <soap:operation soapAction="http://tempuri.org/GetServiceTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceIPAddress">
      <soap:operation soapAction="http://tempuri.org/GetServiceIPAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getsqlcom">
      <soap:operation soapAction="http://tempuri.org/getsqlcom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getrd">
      <soap:operation soapAction="http://tempuri.org/getrd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FoundationServiceSoap12" type="tns:FoundationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceRunStatus">
      <soap12:operation soapAction="http://tempuri.org/GetServiceRunStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceTime">
      <soap12:operation soapAction="http://tempuri.org/GetServiceTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceIPAddress">
      <soap12:operation soapAction="http://tempuri.org/GetServiceIPAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getsqlcom">
      <soap12:operation soapAction="http://tempuri.org/getsqlcom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getrd">
      <soap12:operation soapAction="http://tempuri.org/getrd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FoundationServiceHttpGet" type="tns:FoundationServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetServiceRunStatus">
      <http:operation location="/GetServiceRunStatus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceTime">
      <http:operation location="/GetServiceTime" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceIPAddress">
      <http:operation location="/GetServiceIPAddress" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getsqlcom">
      <http:operation location="/getsqlcom" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="getrd">
      <http:operation location="/getrd" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FoundationServiceHttpPost" type="tns:FoundationServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetServiceRunStatus">
      <http:operation location="/GetServiceRunStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceTime">
      <http:operation location="/GetServiceTime" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceIPAddress">
      <http:operation location="/GetServiceIPAddress" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getsqlcom">
      <http:operation location="/getsqlcom" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="getrd">
      <http:operation location="/getrd" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FoundationService">
    <wsdl:port name="FoundationServiceSoap" binding="tns:FoundationServiceSoap">
      <soap:address location="http://localhost:55555/FoundationService/FoundationService.asmx" />
    </wsdl:port>
    <wsdl:port name="FoundationServiceSoap12" binding="tns:FoundationServiceSoap12">
      <soap12:address location="http://localhost:55555/FoundationService/FoundationService.asmx" />
    </wsdl:port>
    <wsdl:port name="FoundationServiceHttpGet" binding="tns:FoundationServiceHttpGet">
      <http:address location="http://localhost:55555/FoundationService/FoundationService.asmx" />
    </wsdl:port>
    <wsdl:port name="FoundationServiceHttpPost" binding="tns:FoundationServiceHttpPost">
      <http:address location="http://localhost:55555/FoundationService/FoundationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>